@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9bnxsq');
	src:url('fonts/icomoon.eot?#iefix-9bnxsq') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9bnxsq') format('woff'),
		url('fonts/icomoon.ttf?-9bnxsq') format('truetype'),
		url('fonts/icomoon.svg?-9bnxsq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spin {
  	-webkit-animation: spin 2s infinite linear;
 	-moz-animation: spin 2s infinite linear;
  	-o-animation: spin 2s infinite linear;
 	animation: spin 2s infinite linear;
}

.icon-flipY {
	perspective: 1000;
	-webkit-animation: flip 2s infinite linear;
  	-moz-animation: flip 2s infinite linear;
  	-o-animation: flip 2s infinite linear;
  	animation: flip 2s infinite linear;
}

.icon-flipX {
	perspective: 1000;
	-webkit-animation: flipX 2s infinite linear;
  	-moz-animation: flipX 2s infinite linear;
  	-o-animation: flipX 2s infinite linear;
  	animation: flipX 2s infinite linear;
}

.icon-toggle {
	-webkit-animation: toggle 2s infinite linear;
  	-moz-animation: toggle 2s infinite linear;
  	-o-animation: toggle 2s infinite linear;
  	animation: toggle 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-moz-keyframes flip {
  0% {
    -moz-transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(359deg);
  }
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(359deg);
  }
}
@-o-keyframes flip {
  0% {
    -o-transform: rotateY(0deg);
  }
  100% {
    -o-transform: rotateY(359deg);
  }
}
@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(359deg);
    transform: rotateY(359deg);
  }
}

@-moz-keyframes flipX {
  0% {
    -moz-transform: rotateX(0deg);
  }
  100% {
    -moz-transform: rotateX(359deg);
  }
}
@-webkit-keyframes flipX {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(359deg);
  }
}
@-o-keyframes flipX {
  0% {
    -o-transform: rotateX(0deg);
  }
  100% {
    -o-transform: rotateX(359deg);
  }
}
@keyframes toggle {
  0% {
 	opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
  	opacity: 0.99;
  }
}

@-moz-keyframes toggle {
  0% {
 	opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
  	opacity: 0.99;
  }
}
@-webkit-keyframes toggle {
  0% {
 	opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
  	opacity: 0.99;
  }
}
@-o-keyframes toggle {
  0% {
 	opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
  	opacity: 0.99;
  }
}
@keyframes toggle {
  0% {
 	opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
  	opacity: 0.99;
  }
}

.icon-2x {
	font-size: 20px;
}

.icon-3x {
	font-size: 28px;
}

.icon-4x {
	font-size: 36px;
}

.icon-5x {
	font-size: 42px;
}

.icon-6x {
	font-size: 50px;
}

.icon-times:before {
	content: "\e600";
}
.icon-tick:before {
	content: "\e601";
}
.icon-plus:before {
	content: "\e602";
}
.icon-minus:before {
	content: "\e603";
}
.icon-equals:before {
	content: "\e604";
}
.icon-divide:before {
	content: "\e605";
}
.icon-chevron-right:before {
	content: "\e606";
}
.icon-chevron-left:before {
	content: "\e607";
}
.icon-arrow-right-thick:before {
	content: "\e608";
}
.icon-arrow-left-thick:before {
	content: "\e609";
}
.icon-th-small:before {
	content: "\e60a";
}
.icon-th-menu:before {
	content: "\e60b";
}
.icon-th-list:before {
	content: "\e60c";
}
.icon-th-large:before {
	content: "\e60d";
}
.icon-home:before {
	content: "\e60e";
}
.icon-arrow-forward:before {
	content: "\e60f";
}
.icon-arrow-back:before {
	content: "\e610";
}
.icon-rss:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-link:before {
	content: "\e613";
}
.icon-image:before {
	content: "\e614";
}
.icon-arrow-up-thick:before {
	content: "\e615";
}
.icon-arrow-down-thick:before {
	content: "\e616";
}
.icon-starburst:before {
	content: "\e617";
}
.icon-starburst-outline:before {
	content: "\e618";
}
.icon-star:before {
	content: "\e619";
}
.icon-flow-children:before {
	content: "\e61a";
}
.icon-export:before {
	content: "\e61b";
}
.icon-delete:before {
	content: "\e61c";
}
.icon-delete-outline:before {
	content: "\e61d";
}
.icon-cloud-storage:before {
	content: "\e61e";
}
.icon-wi-fi:before {
	content: "\e61f";
}
.icon-heart:before {
	content: "\e620";
}
.icon-flash:before {
	content: "\e621";
}
.icon-cancel:before {
	content: "\e622";
}
.icon-backspace:before {
	content: "\e623";
}
.icon-attachment:before {
	content: "\e624";
}
.icon-arrow-move:before {
	content: "\e625";
}
.icon-warning:before {
	content: "\e626";
}
.icon-user:before {
	content: "\e627";
}
.icon-radar:before {
	content: "\e628";
}
.icon-lock-open:before {
	content: "\e629";
}
.icon-lock-closed:before {
	content: "\e62a";
}
.icon-location-arrow:before {
	content: "\e62b";
}
.icon-info:before {
	content: "\e62c";
}
.icon-user-delete:before {
	content: "\e62d";
}
.icon-user-add:before {
	content: "\e62e";
}
.icon-media-pause:before {
	content: "\e62f";
}
.icon-group:before {
	content: "\e630";
}
.icon-chart-pie:before {
	content: "\e631";
}
.icon-chart-line:before {
	content: "\e632";
}
.icon-chart-bar:before {
	content: "\e633";
}
.icon-chart-area:before {
	content: "\e634";
}
.icon-video:before {
	content: "\e635";
}
.icon-point-of-interest:before {
	content: "\e636";
}
.icon-infinity:before {
	content: "\e637";
}
.icon-globe:before {
	content: "\e638";
}
.icon-eye:before {
	content: "\e639";
}
.icon-cog:before {
	content: "\e63a";
}
.icon-camera:before {
	content: "\e63b";
}
.icon-upload:before {
	content: "\e63c";
}
.icon-scissors:before {
	content: "\e63d";
}
.icon-refresh:before {
	content: "\e63e";
}
.icon-pin:before {
	content: "\e63f";
}
.icon-key:before {
	content: "\e640";
}
.icon-info-large:before {
	content: "\e641";
}
.icon-eject:before {
	content: "\e642";
}
.icon-download:before {
	content: "\e643";
}
.icon-zoom:before {
	content: "\e644";
}
.icon-zoom-out:before {
	content: "\e645";
}
.icon-zoom-in:before {
	content: "\e646";
}
.icon-sort-numerically:before {
	content: "\e647";
}
.icon-sort-alphabetically:before {
	content: "\e648";
}
.icon-input-checked:before {
	content: "\e649";
}
.icon-calender:before {
	content: "\e64a";
}
.icon-world:before {
	content: "\e64b";
}
.icon-notes:before {
	content: "\e64c";
}
.icon-code:before {
	content: "\e64d";
}
.icon-arrow-sync:before {
	content: "\e64e";
}
.icon-arrow-shuffle:before {
	content: "\e64f";
}
.icon-arrow-repeat:before {
	content: "\e650";
}
.icon-arrow-minimise:before {
	content: "\e651";
}
.icon-arrow-maximise:before {
	content: "\e652";
}
.icon-arrow-loop:before {
	content: "\e653";
}
.icon-anchor:before {
	content: "\e654";
}
.icon-spanner:before {
	content: "\e655";
}
.icon-puzzle:before {
	content: "\e656";
}
.icon-power:before {
	content: "\e657";
}
.icon-plane:before {
	content: "\e658";
}
.icon-pi:before {
	content: "\e659";
}
.icon-phone:before {
	content: "\e65a";
}
.icon-microphone:before {
	content: "\e65b";
}
.icon-media-rewind:before {
	content: "\e65c";
}
.icon-flag:before {
	content: "\e65d";
}
.icon-adjust-brightness:before {
	content: "\e65e";
}
.icon-waves:before {
	content: "\e65f";
}
.icon-social-twitter:before {
	content: "\e660";
}
.icon-social-facebook:before {
	content: "\e661";
}
.icon-social-dribbble:before {
	content: "\e662";
}
.icon-media-stop:before {
	content: "\e663";
}
.icon-media-record:before {
	content: "\e664";
}
.icon-media-play:before {
	content: "\e665";
}
.icon-media-fast-forward:before {
	content: "\e666";
}
.icon-media-eject:before {
	content: "\e667";
}
.icon-social-vimeo:before {
	content: "\e668";
}
.icon-social-tumbler:before {
	content: "\e669";
}
.icon-social-skype:before {
	content: "\e66a";
}
.icon-social-pinterest:before {
	content: "\e66b";
}
.icon-social-linkedin:before {
	content: "\e66c";
}
.icon-social-last-fm:before {
	content: "\e66d";
}
.icon-social-github:before {
	content: "\e66e";
}
.icon-social-flickr:before {
	content: "\e66f";
}
.icon-at:before {
	content: "\e670";
}
.icon-times-outline:before {
	content: "\e671";
}
.icon-plus-outline:before {
	content: "\e672";
}
.icon-minus-outline:before {
	content: "\e673";
}
.icon-tick-outline:before {
	content: "\e674";
}
.icon-th-large-outline:before {
	content: "\e675";
}
.icon-equals-outline:before {
	content: "\e676";
}
.icon-divide-outline:before {
	content: "\e677";
}
.icon-chevron-right-outline:before {
	content: "\e678";
}
.icon-chevron-left-outline:before {
	content: "\e679";
}
.icon-arrow-right-outline:before {
	content: "\e67a";
}
.icon-arrow-left-outline:before {
	content: "\e67b";
}
.icon-th-small-outline:before {
	content: "\e67c";
}
.icon-th-menu-outline:before {
	content: "\e67d";
}
.icon-th-list-outline:before {
	content: "\e67e";
}
.icon-news:before {
	content: "\e67f";
}
.icon-home-outline:before {
	content: "\e680";
}
.icon-arrow-up-outline:before {
	content: "\e681";
}
.icon-arrow-forward-outline:before {
	content: "\e682";
}
.icon-arrow-down-outline:before {
	content: "\e683";
}
.icon-arrow-back-outline:before {
	content: "\e684";
}
.icon-trash:before {
	content: "\e685";
}
.icon-rss-outline:before {
	content: "\e686";
}
.icon-message:before {
	content: "\e687";
}
.icon-location-outline:before {
	content: "\e688";
}
.icon-link-outline:before {
	content: "\e689";
}
.icon-image-outline:before {
	content: "\e68a";
}
.icon-export-outline:before {
	content: "\e68b";
}
.icon-cross:before {
	content: "\e68c";
}
.icon-wi-fi-outline:before {
	content: "\e68d";
}
.icon-star-outline:before {
	content: "\e68e";
}
.icon-media-pause-outline:before {
	content: "\e68f";
}
.icon-mail:before {
	content: "\e690";
}
.icon-heart-outline:before {
	content: "\e691";
}
.icon-flash-outline:before {
	content: "\e692";
}
.icon-cancel-outline:before {
	content: "\e693";
}
.icon-beaker:before {
	content: "\e694";
}
.icon-arrow-move-outline:before {
	content: "\e695";
}
.icon-watch:before {
	content: "\e696";
}
.icon-warning-outline:before {
	content: "\e697";
}
.icon-time:before {
	content: "\e698";
}
.icon-radar-outline:before {
	content: "\e699";
}
.icon-lock-open-outline:before {
	content: "\e69a";
}
.icon-location-arrow-outline:before {
	content: "\e69b";
}
.icon-info-outline:before {
	content: "\e69c";
}
.icon-backspace-outline:before {
	content: "\e69d";
}
.icon-attachment-outline:before {
	content: "\e69e";
}
.icon-user-outline:before {
	content: "\e69f";
}
.icon-user-delete-outline:before {
	content: "\e6a0";
}
.icon-user-add-outline:before {
	content: "\e6a1";
}
.icon-lock-closed-outline:before {
	content: "\e6a2";
}
.icon-group-outline:before {
	content: "\e6a3";
}
.icon-chart-pie-outline:before {
	content: "\e6a4";
}
.icon-chart-line-outline:before {
	content: "\e6a5";
}
.icon-chart-bar-outline:before {
	content: "\e6a6";
}
.icon-chart-area-outline:before {
	content: "\e6a7";
}
.icon-video-outline:before {
	content: "\e6a8";
}
.icon-point-of-interest-outline:before {
	content: "\e6a9";
}
.icon-map:before {
	content: "\e6aa";
}
.icon-key-outline:before {
	content: "\e6ab";
}
.icon-infinity-outline:before {
	content: "\e6ac";
}
.icon-globe-outline:before {
	content: "\e6ad";
}
.icon-eye-outline:before {
	content: "\e6ae";
}
.icon-cog-outline:before {
	content: "\e6af";
}
.icon-camera-outline:before {
	content: "\e6b0";
}
.icon-upload-outline:before {
	content: "\e6b1";
}
.icon-support:before {
	content: "\e6b2";
}
.icon-scissors-outline:before {
	content: "\e6b3";
}
.icon-refresh-outline:before {
	content: "\e6b4";
}
.icon-info-large-outline:before {
	content: "\e6b5";
}
.icon-eject-outline:before {
	content: "\e6b6";
}
.icon-download-outline:before {
	content: "\e6b7";
}
.icon-battery-mid:before {
	content: "\e6b8";
}
.icon-battery-low:before {
	content: "\e6b9";
}
.icon-battery-high:before {
	content: "\e6ba";
}
.icon-zoom-outline:before {
	content: "\e6bb";
}
.icon-zoom-out-outline:before {
	content: "\e6bc";
}
.icon-zoom-in-outline:before {
	content: "\e6bd";
}
.icon-tag:before {
	content: "\e6be";
}
.icon-tabs-outline:before {
	content: "\e6bf";
}
.icon-pin-outline:before {
	content: "\e6c0";
}
.icon-message-typing:before {
	content: "\e6c1";
}
.icon-directions:before {
	content: "\e6c2";
}
.icon-battery-full:before {
	content: "\e6c3";
}
.icon-battery-charge:before {
	content: "\e6c4";
}
.icon-pipette:before {
	content: "\e6c5";
}
.icon-pencil:before {
	content: "\e6c6";
}
.icon-folder:before {
	content: "\e6c7";
}
.icon-folder-delete:before {
	content: "\e6c8";
}
.icon-folder-add:before {
	content: "\e6c9";
}
.icon-edit:before {
	content: "\e6ca";
}
.icon-document:before {
	content: "\e6cb";
}
.icon-document-delete:before {
	content: "\e6cc";
}
.icon-document-add:before {
	content: "\e6cd";
}
.icon-brush:before {
	content: "\e6ce";
}
.icon-thumbs-up:before {
	content: "\e6cf";
}
.icon-thumbs-down:before {
	content: "\e6d0";
}
.icon-pen:before {
	content: "\e6d1";
}
.icon-sort-numerically-outline:before {
	content: "\e6d2";
}
.icon-sort-alphabetically-outline:before {
	content: "\e6d3";
}
.icon-social-last-fm-circular:before {
	content: "\e6d4";
}
.icon-social-github-circular:before {
	content: "\e6d5";
}
.icon-compass:before {
	content: "\e6d6";
}
.icon-bookmark:before {
	content: "\e6d7";
}
.icon-input-checked-outline:before {
	content: "\e6d8";
}
.icon-code-outline:before {
	content: "\e6d9";
}
.icon-calender-outline:before {
	content: "\e6da";
}
.icon-business-card:before {
	content: "\e6db";
}
.icon-arrow-up:before {
	content: "\e6dc";
}
.icon-arrow-sync-outline:before {
	content: "\e6dd";
}
.icon-arrow-right:before {
	content: "\e6de";
}
.icon-arrow-repeat-outline:before {
	content: "\e6df";
}
.icon-arrow-loop-outline:before {
	content: "\e6e0";
}
.icon-arrow-left:before {
	content: "\e6e1";
}
.icon-flow-switch:before {
	content: "\e6e2";
}
.icon-flow-parallel:before {
	content: "\e6e3";
}
.icon-flow-merge:before {
	content: "\e6e4";
}
.icon-document-text:before {
	content: "\e6e5";
}
.icon-clipboard:before {
	content: "\e6e6";
}
.icon-calculator:before {
	content: "\e6e7";
}
.icon-arrow-minimise-outline:before {
	content: "\e6e8";
}
.icon-arrow-maximise-outline:before {
	content: "\e6e9";
}
.icon-arrow-down:before {
	content: "\e6ea";
}
.icon-gift:before {
	content: "\e6eb";
}
.icon-film:before {
	content: "\e6ec";
}
.icon-database:before {
	content: "\e6ed";
}
.icon-bell:before {
	content: "\e6ee";
}
.icon-anchor-outline:before {
	content: "\e6ef";
}
.icon-adjust-contrast:before {
	content: "\e6f0";
}
.icon-world-outline:before {
	content: "\e6f1";
}
.icon-shopping-bag:before {
	content: "\e6f2";
}
.icon-power-outline:before {
	content: "\e6f3";
}
.icon-notes-outline:before {
	content: "\e6f4";
}
.icon-device-tablet:before {
	content: "\e6f5";
}
.icon-device-phone:before {
	content: "\e6f6";
}
.icon-device-laptop:before {
	content: "\e6f7";
}
.icon-device-desktop:before {
	content: "\e6f8";
}
.icon-briefcase:before {
	content: "\e6f9";
}
.icon-stopwatch:before {
	content: "\e6fa";
}
.icon-spanner-outline:before {
	content: "\e6fb";
}
.icon-puzzle-outline:before {
	content: "\e6fc";
}
.icon-printer:before {
	content: "\e6fd";
}
.icon-pi-outline:before {
	content: "\e6fe";
}
.icon-lightbulb:before {
	content: "\e6ff";
}
.icon-flag-outline:before {
	content: "\e700";
}
.icon-contacts:before {
	content: "\e701";
}
.icon-archive:before {
	content: "\e702";
}
.icon-weather-stormy:before {
	content: "\e703";
}
.icon-weather-shower:before {
	content: "\e704";
}
.icon-weather-partly-sunny:before {
	content: "\e705";
}
.icon-weather-downpour:before {
	content: "\e706";
}
.icon-weather-cloudy:before {
	content: "\e707";
}
.icon-plane-outline:before {
	content: "\e708";
}
.icon-phone-outline:before {
	content: "\e709";
}
.icon-microphone-outline:before {
	content: "\e70a";
}
.icon-weather-windy:before {
	content: "\e70b";
}
.icon-weather-windy-cloudy:before {
	content: "\e70c";
}
.icon-weather-sunny:before {
	content: "\e70d";
}
.icon-weather-snow:before {
	content: "\e70e";
}
.icon-weather-night:before {
	content: "\e70f";
}
.icon-media-stop-outline:before {
	content: "\e710";
}
.icon-media-rewind-outline:before {
	content: "\e711";
}
.icon-media-record-outline:before {
	content: "\e712";
}
.icon-media-play-outline:before {
	content: "\e713";
}
.icon-media-fast-forward-outline:before {
	content: "\e714";
}
.icon-media-eject-outline:before {
	content: "\e715";
}
.icon-wine:before {
	content: "\e716";
}
.icon-waves-outline:before {
	content: "\e717";
}
.icon-ticket:before {
	content: "\e718";
}
.icon-tags:before {
	content: "\e719";
}
.icon-plug:before {
	content: "\e71a";
}
.icon-headphones:before {
	content: "\e71b";
}
.icon-credit-card:before {
	content: "\e71c";
}
.icon-coffee:before {
	content: "\e71d";
}
.icon-book:before {
	content: "\e71e";
}
.icon-beer:before {
	content: "\e71f";
}
.icon-volume:before {
	content: "\e720";
}
.icon-volume-up:before {
	content: "\e721";
}
.icon-volume-mute:before {
	content: "\e722";
}
.icon-volume-down:before {
	content: "\e723";
}
.icon-social-vimeo-circular:before {
	content: "\e724";
}
.icon-social-twitter-circular:before {
	content: "\e725";
}
.icon-social-pinterest-circular:before {
	content: "\e726";
}
.icon-social-linkedin-circular:before {
	content: "\e727";
}
.icon-social-facebook-circular:before {
	content: "\e728";
}
.icon-social-dribbble-circular:before {
	content: "\e729";
}
.icon-tree:before {
	content: "\e72a";
}
.icon-thermometer:before {
	content: "\e72b";
}
.icon-social-tumbler-circular:before {
	content: "\e72c";
}
.icon-social-skype-outline:before {
	content: "\e72d";
}
.icon-social-flickr-circular:before {
	content: "\e72e";
}
.icon-social-at-circular:before {
	content: "\e72f";
}
.icon-shopping-cart:before {
	content: "\e730";
}
.icon-messages:before {
	content: "\e731";
}
.icon-leaf:before {
	content: "\e732";
}
.icon-feather:before {
	content: "\e733";
}
.icon-home2:before {
	content: "\e734";
}
.icon-home3:before {
	content: "\e735";
}
.icon-home4:before {
	content: "\e736";
}
.icon-office:before {
	content: "\e737";
}
.icon-newspaper:before {
	content: "\e738";
}
.icon-pencil2:before {
	content: "\e739";
}
.icon-pencil3:before {
	content: "\e73a";
}
.icon-quill:before {
	content: "\e73b";
}
.icon-pen2:before {
	content: "\e73c";
}
.icon-blog:before {
	content: "\e73d";
}
.icon-droplet:before {
	content: "\e73e";
}
.icon-paint-format:before {
	content: "\e73f";
}
.icon-image2:before {
	content: "\e740";
}
.icon-image3:before {
	content: "\e741";
}
.icon-images:before {
	content: "\e742";
}
.icon-camera2:before {
	content: "\e743";
}
.icon-music:before {
	content: "\e744";
}
.icon-headphones2:before {
	content: "\e745";
}
.icon-play:before {
	content: "\e746";
}
.icon-film2:before {
	content: "\e747";
}
.icon-camera3:before {
	content: "\e748";
}
.icon-dice:before {
	content: "\e749";
}
.icon-pacman:before {
	content: "\e74a";
}
.icon-spades:before {
	content: "\e74b";
}
.icon-clubs:before {
	content: "\e74c";
}
.icon-diamonds:before {
	content: "\e74d";
}
.icon-pawn:before {
	content: "\e74e";
}
.icon-bullhorn:before {
	content: "\e74f";
}
.icon-connection:before {
	content: "\e750";
}
.icon-podcast:before {
	content: "\e751";
}
.icon-feed:before {
	content: "\e752";
}
.icon-book2:before {
	content: "\e753";
}
.icon-books:before {
	content: "\e754";
}
.icon-library:before {
	content: "\e755";
}
.icon-file:before {
	content: "\e756";
}
.icon-profile:before {
	content: "\e757";
}
.icon-file2:before {
	content: "\e758";
}
.icon-file3:before {
	content: "\e759";
}
.icon-file4:before {
	content: "\e75a";
}
.icon-copy:before {
	content: "\e75b";
}
.icon-copy2:before {
	content: "\e75c";
}
.icon-copy3:before {
	content: "\e75d";
}
.icon-paste:before {
	content: "\e75e";
}
.icon-paste2:before {
	content: "\e75f";
}
.icon-paste3:before {
	content: "\e760";
}
.icon-stack:before {
	content: "\e761";
}
.icon-folder2:before {
	content: "\e762";
}
.icon-folder-open:before {
	content: "\e763";
}
.icon-tag2:before {
	content: "\e764";
}
.icon-tags2:before {
	content: "\e765";
}
.icon-barcode:before {
	content: "\e766";
}
.icon-qrcode:before {
	content: "\e767";
}
.icon-ticket2:before {
	content: "\e768";
}
.icon-cart:before {
	content: "\e769";
}
.icon-cart2:before {
	content: "\e76a";
}
.icon-cart3:before {
	content: "\e76b";
}
.icon-coin:before {
	content: "\e76c";
}
.icon-credit:before {
	content: "\e76d";
}
.icon-calculate:before {
	content: "\e76e";
}
.icon-support2:before {
	content: "\e76f";
}
.icon-phone2:before {
	content: "\e770";
}
.icon-phone-hang-up:before {
	content: "\e771";
}
.icon-address-book:before {
	content: "\e772";
}
.icon-notebook:before {
	content: "\e773";
}
.icon-envelope:before {
	content: "\e774";
}
.icon-pushpin:before {
	content: "\e775";
}
.icon-location2:before {
	content: "\e776";
}
.icon-location3:before {
	content: "\e777";
}
.icon-compass2:before {
	content: "\e778";
}
.icon-map2:before {
	content: "\e779";
}
.icon-map3:before {
	content: "\e77a";
}
.icon-history:before {
	content: "\e77b";
}
.icon-clock:before {
	content: "\e77c";
}
.icon-clock2:before {
	content: "\e77d";
}
.icon-alarm:before {
	content: "\e77e";
}
.icon-alarm2:before {
	content: "\e77f";
}
.icon-bell2:before {
	content: "\e780";
}
.icon-stopwatch2:before {
	content: "\e781";
}
.icon-calendar:before {
	content: "\e782";
}
.icon-calendar2:before {
	content: "\e783";
}
.icon-print:before {
	content: "\e784";
}
.icon-keyboard:before {
	content: "\e785";
}
.icon-screen:before {
	content: "\e786";
}
.icon-laptop:before {
	content: "\e787";
}
.icon-mobile:before {
	content: "\e788";
}
.icon-mobile2:before {
	content: "\e789";
}
.icon-tablet:before {
	content: "\e78a";
}
.icon-tv:before {
	content: "\e78b";
}
.icon-cabinet:before {
	content: "\e78c";
}
.icon-drawer:before {
	content: "\e78d";
}
.icon-drawer2:before {
	content: "\e78e";
}
.icon-drawer3:before {
	content: "\e78f";
}
.icon-box-add:before {
	content: "\e790";
}
.icon-box-remove:before {
	content: "\e791";
}
.icon-download2:before {
	content: "\e792";
}
.icon-upload2:before {
	content: "\e793";
}
.icon-disk:before {
	content: "\e794";
}
.icon-storage:before {
	content: "\e795";
}
.icon-undo:before {
	content: "\e796";
}
.icon-redo:before {
	content: "\e797";
}
.icon-flip:before {
	content: "\e798";
}
.icon-flip2:before {
	content: "\e799";
}
.icon-undo2:before {
	content: "\e79a";
}
.icon-redo2:before {
	content: "\e79b";
}
.icon-forward:before {
	content: "\e79c";
}
.icon-reply:before {
	content: "\e79d";
}
.icon-bubble:before {
	content: "\e79e";
}
.icon-bubbles:before {
	content: "\e79f";
}
.icon-bubbles2:before {
	content: "\e7a0";
}
.icon-bubble2:before {
	content: "\e7a1";
}
.icon-bubbles3:before {
	content: "\e7a2";
}
.icon-bubbles4:before {
	content: "\e7a3";
}
.icon-user2:before {
	content: "\e7a4";
}
.icon-users:before {
	content: "\e7a5";
}
.icon-user3:before {
	content: "\e7a6";
}
.icon-users2:before {
	content: "\e7a7";
}
.icon-user4:before {
	content: "\e7a8";
}
.icon-user5:before {
	content: "\e7a9";
}
.icon-quotes-left:before {
	content: "\e7aa";
}
.icon-busy:before {
	content: "\e7ab";
}
.icon-spinner:before {
	content: "\e7ac";
}
.icon-spinner2:before {
	content: "\e7ad";
}
.icon-spinner3:before {
	content: "\e7ae";
}
.icon-spinner4:before {
	content: "\e7af";
}
.icon-spinner5:before {
	content: "\e7b0";
}
.icon-spinner6:before {
	content: "\e7b1";
}
.icon-binoculars:before {
	content: "\e7b2";
}
.icon-search:before {
	content: "\e7b3";
}
.icon-zoomin:before {
	content: "\e7b4";
}
.icon-zoomout:before {
	content: "\e7b5";
}
.icon-expand:before {
	content: "\e7b6";
}
.icon-contract:before {
	content: "\e7b7";
}
.icon-expand2:before {
	content: "\e7b8";
}
.icon-contract2:before {
	content: "\e7b9";
}
.icon-key2:before {
	content: "\e7ba";
}
.icon-key3:before {
	content: "\e7bb";
}
.icon-lock:before {
	content: "\e7bc";
}
.icon-lock2:before {
	content: "\e7bd";
}
.icon-unlocked:before {
	content: "\e7be";
}
.icon-wrench:before {
	content: "\e7bf";
}
.icon-settings:before {
	content: "\e7c0";
}
.icon-equalizer:before {
	content: "\e7c1";
}
.icon-cog2:before {
	content: "\e7c2";
}
.icon-cogs:before {
	content: "\e7c3";
}
.icon-cog3:before {
	content: "\e7c4";
}
.icon-hammer:before {
	content: "\e7c5";
}
.icon-wand:before {
	content: "\e7c6";
}
.icon-aid:before {
	content: "\e7c7";
}
.icon-bug:before {
	content: "\e7c8";
}
.icon-pie:before {
	content: "\e7c9";
}
.icon-stats:before {
	content: "\e7ca";
}
.icon-bars:before {
	content: "\e7cb";
}
.icon-bars2:before {
	content: "\e7cc";
}
.icon-gift2:before {
	content: "\e7cd";
}
.icon-trophy:before {
	content: "\e7ce";
}
.icon-glass:before {
	content: "\e7cf";
}
.icon-mug:before {
	content: "\e7d0";
}
.icon-food:before {
	content: "\e7d1";
}
.icon-leaf2:before {
	content: "\e7d2";
}
.icon-rocket:before {
	content: "\e7d3";
}
.icon-meter:before {
	content: "\e7d4";
}
.icon-meter2:before {
	content: "\e7d5";
}
.icon-dashboard:before {
	content: "\e7d6";
}
.icon-hammer2:before {
	content: "\e7d7";
}
.icon-fire:before {
	content: "\e7d8";
}
.icon-lab:before {
	content: "\e7d9";
}
.icon-magnet:before {
	content: "\e7da";
}
.icon-remove:before {
	content: "\e7db";
}
.icon-remove2:before {
	content: "\e7dc";
}
.icon-briefcase2:before {
	content: "\e7dd";
}
.icon-airplane:before {
	content: "\e7de";
}
.icon-truck:before {
	content: "\e7df";
}
.icon-road:before {
	content: "\e7e0";
}
.icon-accessibility:before {
	content: "\e7e1";
}
.icon-target:before {
	content: "\e7e2";
}
.icon-shield:before {
	content: "\e7e3";
}
.icon-lightning:before {
	content: "\e7e4";
}
.icon-switch:before {
	content: "\e7e5";
}
.icon-powercord:before {
	content: "\e7e6";
}
.icon-signup:before {
	content: "\e7e7";
}
.icon-list:before {
	content: "\e7e8";
}
.icon-list2:before {
	content: "\e7e9";
}
.icon-numbered-list:before {
	content: "\e7ea";
}
.icon-menu:before {
	content: "\e7eb";
}
.icon-menu2:before {
	content: "\e7ec";
}
.icon-tree2:before {
	content: "\e7ed";
}
.icon-cloud:before {
	content: "\e7ee";
}
.icon-cloud-download:before {
	content: "\e7ef";
}
.icon-cloud-upload:before {
	content: "\e7f0";
}
.icon-download3:before {
	content: "\e7f1";
}
.icon-upload3:before {
	content: "\e7f2";
}
.icon-download4:before {
	content: "\e7f3";
}
.icon-upload4:before {
	content: "\e7f4";
}
.icon-globe2:before {
	content: "\e7f5";
}
.icon-earth:before {
	content: "\e7f6";
}
.icon-link2:before {
	content: "\e7f7";
}
.icon-flag2:before {
	content: "\e7f8";
}
.icon-attachment2:before {
	content: "\e7f9";
}
.icon-eye2:before {
	content: "\e7fa";
}
.icon-eye-blocked:before {
	content: "\e7fb";
}
.icon-eye3:before {
	content: "\e7fc";
}
.icon-bookmark2:before {
	content: "\e7fd";
}
.icon-bookmarks:before {
	content: "\e7fe";
}
.icon-brightness-medium:before {
	content: "\e7ff";
}
.icon-brightness-contrast:before {
	content: "\e800";
}
.icon-contrast:before {
	content: "\e801";
}
.icon-star2:before {
	content: "\e802";
}
.icon-star3:before {
	content: "\e803";
}
.icon-star4:before {
	content: "\e804";
}
.icon-heart2:before {
	content: "\e805";
}
.icon-heart3:before {
	content: "\e806";
}
.icon-heart-broken:before {
	content: "\e807";
}
.icon-thumbs-up2:before {
	content: "\e808";
}
.icon-thumbs-up3:before {
	content: "\e809";
}
.icon-happy:before {
	content: "\e80a";
}
.icon-happy2:before {
	content: "\e80b";
}
.icon-smiley:before {
	content: "\e80c";
}
.icon-smiley2:before {
	content: "\e80d";
}
.icon-tongue:before {
	content: "\e80e";
}
.icon-tongue2:before {
	content: "\e80f";
}
.icon-sad:before {
	content: "\e810";
}
.icon-sad2:before {
	content: "\e811";
}
.icon-wink:before {
	content: "\e812";
}
.icon-wink2:before {
	content: "\e813";
}
.icon-grin:before {
	content: "\e814";
}
.icon-grin2:before {
	content: "\e815";
}
.icon-cool:before {
	content: "\e816";
}
.icon-cool2:before {
	content: "\e817";
}
.icon-angry:before {
	content: "\e818";
}
.icon-angry2:before {
	content: "\e819";
}
.icon-evil:before {
	content: "\e81a";
}
.icon-evil2:before {
	content: "\e81b";
}
.icon-shocked:before {
	content: "\e81c";
}
.icon-shocked2:before {
	content: "\e81d";
}
.icon-confused:before {
	content: "\e81e";
}
.icon-confused2:before {
	content: "\e81f";
}
.icon-neutral:before {
	content: "\e820";
}
.icon-neutral2:before {
	content: "\e821";
}
.icon-wondering:before {
	content: "\e822";
}
.icon-wondering2:before {
	content: "\e823";
}
.icon-point-up:before {
	content: "\e824";
}
.icon-point-right:before {
	content: "\e825";
}
.icon-point-down:before {
	content: "\e826";
}
.icon-point-left:before {
	content: "\e827";
}
.icon-warning2:before {
	content: "\e828";
}
.icon-notification:before {
	content: "\e829";
}
.icon-question:before {
	content: "\e82a";
}
.icon-info2:before {
	content: "\e82b";
}
.icon-info3:before {
	content: "\e82c";
}
.icon-blocked:before {
	content: "\e82d";
}
.icon-cancel-circle:before {
	content: "\e82e";
}
.icon-checkmark-circle:before {
	content: "\e82f";
}
.icon-spam:before {
	content: "\e830";
}
.icon-close:before {
	content: "\e831";
}
.icon-checkmark:before {
	content: "\e832";
}
.icon-checkmark2:before {
	content: "\e833";
}
.icon-spell-check:before {
	content: "\e834";
}
.icon-minus2:before {
	content: "\e835";
}
.icon-plus2:before {
	content: "\e836";
}
.icon-enter:before {
	content: "\e837";
}
.icon-exit:before {
	content: "\e838";
}
.icon-play2:before {
	content: "\e839";
}
.icon-pause:before {
	content: "\e83a";
}
.icon-stop:before {
	content: "\e83b";
}
.icon-backward:before {
	content: "\e83c";
}
.icon-forward2:before {
	content: "\e83d";
}
.icon-play3:before {
	content: "\e83e";
}
.icon-pause2:before {
	content: "\e83f";
}
.icon-stop2:before {
	content: "\e840";
}
.icon-backward2:before {
	content: "\e841";
}
.icon-forward3:before {
	content: "\e842";
}
.icon-first:before {
	content: "\e843";
}
.icon-last:before {
	content: "\e844";
}
.icon-previous:before {
	content: "\e845";
}
.icon-next:before {
	content: "\e846";
}
.icon-eject2:before {
	content: "\e847";
}
.icon-volume-high:before {
	content: "\e848";
}
.icon-volume-medium:before {
	content: "\e849";
}
.icon-volume-low:before {
	content: "\e84a";
}
.icon-volume-mute2:before {
	content: "\e84b";
}
.icon-volume-mute3:before {
	content: "\e84c";
}
.icon-volume-increase:before {
	content: "\e84d";
}
.icon-volume-decrease:before {
	content: "\e84e";
}
.icon-loop:before {
	content: "\e84f";
}
.icon-loop2:before {
	content: "\e850";
}
.icon-loop3:before {
	content: "\e851";
}
.icon-shuffle:before {
	content: "\e852";
}
.icon-arrow-up-left:before {
	content: "\e853";
}
.icon-arrow-up2:before {
	content: "\e854";
}
.icon-arrow-up-right:before {
	content: "\e855";
}
.icon-arrow-right2:before {
	content: "\e856";
}
.icon-arrow-down-right:before {
	content: "\e857";
}
.icon-arrow-down2:before {
	content: "\e858";
}
.icon-arrow-down-left:before {
	content: "\e859";
}
.icon-arrow-left2:before {
	content: "\e85a";
}
.icon-arrow-up-left2:before {
	content: "\e85b";
}
.icon-arrow-up3:before {
	content: "\e85c";
}
.icon-arrow-up-right2:before {
	content: "\e85d";
}
.icon-arrow-right3:before {
	content: "\e85e";
}
.icon-arrow-down-right2:before {
	content: "\e85f";
}
.icon-arrow-down3:before {
	content: "\e860";
}
.icon-arrow-down-left2:before {
	content: "\e861";
}
.icon-arrow-left3:before {
	content: "\e862";
}
.icon-arrow-up-left3:before {
	content: "\e863";
}
.icon-arrow-up4:before {
	content: "\e864";
}
.icon-arrow-up-right3:before {
	content: "\e865";
}
.icon-arrow-right4:before {
	content: "\e866";
}
.icon-arrow-down-right3:before {
	content: "\e867";
}
.icon-arrow-down4:before {
	content: "\e868";
}
.icon-arrow-down-left3:before {
	content: "\e869";
}
.icon-arrow-left4:before {
	content: "\e86a";
}
.icon-tab:before {
	content: "\e86b";
}
.icon-checkbox-checked:before {
	content: "\e86c";
}
.icon-checkbox-unchecked:before {
	content: "\e86d";
}
.icon-checkbox-partial:before {
	content: "\e86e";
}
.icon-radio-checked:before {
	content: "\e86f";
}
.icon-radio-unchecked:before {
	content: "\e870";
}
.icon-crop:before {
	content: "\e871";
}
.icon-scissors2:before {
	content: "\e872";
}
.icon-filter:before {
	content: "\e873";
}
.icon-filter2:before {
	content: "\e874";
}
.icon-font:before {
	content: "\e875";
}
.icon-text-height:before {
	content: "\e876";
}
.icon-text-width:before {
	content: "\e877";
}
.icon-bold:before {
	content: "\e878";
}
.icon-underline:before {
	content: "\e879";
}
.icon-italic:before {
	content: "\e87a";
}
.icon-strikethrough:before {
	content: "\e87b";
}
.icon-omega:before {
	content: "\e87c";
}
.icon-sigma:before {
	content: "\e87d";
}
.icon-table:before {
	content: "\e87e";
}
.icon-table2:before {
	content: "\e87f";
}
.icon-insert-template:before {
	content: "\e880";
}
.icon-pilcrow:before {
	content: "\e881";
}
.icon-lefttoright:before {
	content: "\e882";
}
.icon-righttoleft:before {
	content: "\e883";
}
.icon-paragraph-left:before {
	content: "\e884";
}
.icon-paragraph-center:before {
	content: "\e885";
}
.icon-paragraph-right:before {
	content: "\e886";
}
.icon-paragraph-justify:before {
	content: "\e887";
}
.icon-paragraph-left2:before {
	content: "\e888";
}
.icon-paragraph-center2:before {
	content: "\e889";
}
.icon-paragraph-right2:before {
	content: "\e88a";
}
.icon-paragraph-justify2:before {
	content: "\e88b";
}
.icon-indent-increase:before {
	content: "\e88c";
}
.icon-indent-decrease:before {
	content: "\e88d";
}
.icon-newtab:before {
	content: "\e88e";
}
.icon-embed:before {
	content: "\e88f";
}
.icon-code2:before {
	content: "\e890";
}
.icon-console:before {
	content: "\e891";
}
.icon-share:before {
	content: "\e892";
}
.icon-mail2:before {
	content: "\e893";
}
.icon-mail3:before {
	content: "\e894";
}
.icon-mail4:before {
	content: "\e895";
}
.icon-mail5:before {
	content: "\e896";
}
.icon-google:before {
	content: "\e897";
}
.icon-googleplus:before {
	content: "\e898";
}
.icon-googleplus2:before {
	content: "\e899";
}
.icon-googleplus3:before {
	content: "\e89a";
}
.icon-googleplus4:before {
	content: "\e89b";
}
.icon-google-drive:before {
	content: "\e89c";
}
.icon-facebook:before {
	content: "\e89d";
}
.icon-facebook2:before {
	content: "\e89e";
}
.icon-facebook3:before {
	content: "\e89f";
}
.icon-instagram:before {
	content: "\e8a0";
}
.icon-twitter:before {
	content: "\e8a1";
}
.icon-twitter2:before {
	content: "\e8a2";
}
.icon-twitter3:before {
	content: "\e8a3";
}
.icon-feed2:before {
	content: "\e8a4";
}
.icon-feed3:before {
	content: "\e8a5";
}
.icon-feed4:before {
	content: "\e8a6";
}
.icon-youtube:before {
	content: "\e8a7";
}
.icon-youtube2:before {
	content: "\e8a8";
}
.icon-vimeo:before {
	content: "\e8a9";
}
.icon-vimeo2:before {
	content: "\e8aa";
}
.icon-vimeo3:before {
	content: "\e8ab";
}
.icon-lanyrd:before {
	content: "\e8ac";
}
.icon-flickr:before {
	content: "\e8ad";
}
.icon-flickr2:before {
	content: "\e8ae";
}
.icon-flickr3:before {
	content: "\e8af";
}
.icon-flickr4:before {
	content: "\e8b0";
}
.icon-picassa:before {
	content: "\e8b1";
}
.icon-picassa2:before {
	content: "\e8b2";
}
.icon-dribbble:before {
	content: "\e8b3";
}
.icon-dribbble2:before {
	content: "\e8b4";
}
.icon-dribbble3:before {
	content: "\e8b5";
}
.icon-forrst:before {
	content: "\e8b6";
}
.icon-forrst2:before {
	content: "\e8b7";
}
.icon-deviantart:before {
	content: "\e8b8";
}
.icon-deviantart2:before {
	content: "\e8b9";
}
.icon-steam:before {
	content: "\e8ba";
}
.icon-steam2:before {
	content: "\e8bb";
}
.icon-github:before {
	content: "\e8bc";
}
.icon-github2:before {
	content: "\e8bd";
}
.icon-github3:before {
	content: "\e8be";
}
.icon-github4:before {
	content: "\e8bf";
}
.icon-github5:before {
	content: "\e8c0";
}
.icon-wordpress:before {
	content: "\e8c1";
}
.icon-wordpress2:before {
	content: "\e8c2";
}
.icon-joomla:before {
	content: "\e8c3";
}
.icon-blogger:before {
	content: "\e8c4";
}
.icon-blogger2:before {
	content: "\e8c5";
}
.icon-tumblr:before {
	content: "\e8c6";
}
.icon-tumblr2:before {
	content: "\e8c7";
}
.icon-yahoo:before {
	content: "\e8c8";
}
.icon-tux:before {
	content: "\e8c9";
}
.icon-apple:before {
	content: "\e8ca";
}
.icon-finder:before {
	content: "\e8cb";
}
.icon-android:before {
	content: "\e8cc";
}
.icon-windows:before {
	content: "\e8cd";
}
.icon-windows8:before {
	content: "\e8ce";
}
.icon-soundcloud:before {
	content: "\e8cf";
}
.icon-soundcloud2:before {
	content: "\e8d0";
}
.icon-skype:before {
	content: "\e8d1";
}
.icon-reddit:before {
	content: "\e8d2";
}
.icon-linkedin:before {
	content: "\e8d3";
}
.icon-lastfm:before {
	content: "\e8d4";
}
.icon-lastfm2:before {
	content: "\e8d5";
}
.icon-delicious:before {
	content: "\e8d6";
}
.icon-stumbleupon:before {
	content: "\e8d7";
}
.icon-stumbleupon2:before {
	content: "\e8d8";
}
.icon-stackoverflow:before {
	content: "\e8d9";
}
.icon-pinterest:before {
	content: "\e8da";
}
.icon-pinterest2:before {
	content: "\e8db";
}
.icon-xing:before {
	content: "\e8dc";
}
.icon-xing2:before {
	content: "\e8dd";
}
.icon-flattr:before {
	content: "\e8de";
}
.icon-foursquare:before {
	content: "\e8df";
}
.icon-foursquare2:before {
	content: "\e8e0";
}
.icon-paypal:before {
	content: "\e8e1";
}
.icon-paypal2:before {
	content: "\e8e2";
}
.icon-paypal3:before {
	content: "\e8e3";
}
.icon-yelp:before {
	content: "\e8e4";
}
.icon-libreoffice:before {
	content: "\e8e5";
}
.icon-file-pdf:before {
	content: "\e8e6";
}
.icon-file-openoffice:before {
	content: "\e8e7";
}
.icon-file-word:before {
	content: "\e8e8";
}
.icon-file-excel:before {
	content: "\e8e9";
}
.icon-file-zip:before {
	content: "\e8ea";
}
.icon-file-powerpoint:before {
	content: "\e8eb";
}
.icon-file-xml:before {
	content: "\e8ec";
}
.icon-file-css:before {
	content: "\e8ed";
}
.icon-html5:before {
	content: "\e8ee";
}
.icon-html52:before {
	content: "\e8ef";
}
.icon-css3:before {
	content: "\e8f0";
}
.icon-chrome:before {
	content: "\e8f1";
}
.icon-firefox:before {
	content: "\e8f2";
}
.icon-IE:before {
	content: "\e8f3";
}
.icon-opera:before {
	content: "\e8f4";
}
.icon-safari:before {
	content: "\e8f5";
}
.icon-IcoMoon:before {
	content: "\e8f6";
}
