a {
	display: inline-block;
	margin: 0;
}

.lowerhead {
	/*background-color: #811327; */
}

#backred {
	background-color: #811327; 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	height: 46px;
}

.lowerhead div {
	display: inline-block;
}

.lowerhead a {
	z-index: 5;
	color: #fff;
	display: inline-block;
	padding: 12px 20px;
	margin: 0 -3px;
	border-bottom: 4px solid rgba(0,0,0,0); 
}

.lowerhead a:hover {
	border-bottom: 8px solid rgba(84,14,20,1);
}


.lowerhead a.sel {
	border-bottom: 8px solid rgba(84,14,20,1);
}

.headright input {
	width: 300px;
	text-indent: 15px;
	border: 2px solid #717174;
	height: 35px;
	font-size: 14px;
	transition: 0.4s;
}

.headright input:focus {
	border: 2px solid #333;
}

.headright span {
	color: #811327; 
	display: block;
	margin-bottom: 8px;
}

.headright a {
	background-color: #807e82; 
	color: #fff;
	margin: 0;
	padding: 8px 25px;	
	margin-bottom: 30px;
}

.homeslider h1,
.homeslider h2 {
	color: #fff;
}

.homeslider h1 {
	line-height: 48px;
}

.homeslider h2 {
	margin-bottom: 60px;
}

.hslider {
	background-repeat: no-repeat;
	background-size: 100%;
}

.homeslider h1{
	font-size: 42px;
}

.homeslider a {
	color: #fff;
	border: 2px solid #fff;
	padding: 12px 30px;
}

.homeslider a:hover {
	background-color: #fff;
	color: #811327; 
}
.homeslider {
	margin: 50px 0;
}

.text-gray {
	color: #717174;
}

.tick {
	width: 160px;
	height: 160px;
}

.whyus a {
	color: #811327;
}

.whyus a:hover {
	text-decoration: underline;
}

.whyus span {
	display: block;
	margin: 10px 0 5px 0;
}

.whyus p {
	font-size: 32px;
	margin: 0;
}

.testimonials {
	padding: 30px 0 50px 0;
	background-color: rgba(129, 19, 39, 0.8);
	background-size: 100%;
	background-repeat: no-repeat;
}

.testimonials hr {
	border: none;
	border-bottom: 1px solid #fff;
	display: block;
	margin: 40px 0;
}

.testimonials h3 {
	margin-bottom: 100px;
}

.testimonials a {
	color: #fff;
	border: 2px solid #fff;
	padding: 12px 30px;
	margin-top: 25px;
}

.testimonials a:hover {
	background-color: #fff;
	color: #811327; 
}

.testimonials h1,
.testimonials h2,
.testimonials h3,
.testimonials p,
.testimonials span	 {
	color: #fff;
}

.bigtext {
	font-size: 28px;
}

.bordergrayabs {
	position: absolute;
	left: 0;
	top: 0;
	height:100%;
	width: 100%;
	border: 2px solid #807e82;
	z-index: 0;
}

.bordergray {
	height: 350px;
	border: 2px solid #807e82;
}

.bordergrayleft {
	position: relative;
	right: 5%;
}

.bordergrayright {
	position: relative;
	left: 5%;
}

.connects {
	background-color: #e9e9ea;
	padding: 30px 0 60px 0;
}

.connect {
	background-color: #fff;
	z-index: 5;
	min-height: 380px;
}

.connect .firsth2 {
	margin-top: 40px;
}

.schedule {
	margin-top: 20px;
	background-color: #811327;
	padding: 12px 35px;
	color: #fff;
	border: 2px solid #807e82;
	z-index: 100;
}

.schedule:hover {
	color: #fff;
}

.connect input[type="email"] {
	width: 100%;
	height: 37px;
	border: 2px solid #807e82;
	background-color: #fff;
	text-indent: 15px;
	font-size: 14px; 
}

.connect input[type="submit"] {
	width: 100%;
	background-color: #811327;
	height: 43px;
	color: #fff;
	border: 2px solid #807e82;
}

.buttonsocial {
	display: inline-block;
	background-color: #811327;
	color: #fff;
	border-radius: 50%;
	padding: 10px 15px 6px 16px;
	font-size: 30px;
}

.buttonsocial:hover {
	color: #fff;
}

.footerup {
	background-color: #8d8d8f;
}

.footerup p {
	color: #fff;
	font-size: 14px;
}

.footerbelow {
	background-color: #717174;
	color:#fff;
	font-size: 12px;
}

.footerbelow a {
	color: #fff;
	font-size: 12px;
}

.footerbelow a:hover {
	color: #811327;
}

.mhyy {
	padding: 20px 0 50px 0;
}

header {
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
}

.innerheader {
	background-color: rgba(255,255,255,0.8);
}

.homehome {
	background-repeat: no-repeat;
	background-size: 100%;
}

.inputwithicon i {
	position: absolute;
	right: 15px; 
	top: 12px;
}

.powered {
	font-size: 11px;
}













